window#osd {
    border-radius: 10px;
    border: 2px solid @theme_selected_bg_color;
    background: alpha(@theme_bg_color, 0.9);
}

window#osd #container {
    margin: 6px;
    padding: 2px;
    background: transparent;
}

window#osd image {
    -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
    color: @theme_fg_color;
}

window#osd progressbar:disabled,
window#osd image:disabled {
    opacity: 0.5;
}

window#osd progressbar {
    min-height: 6px;
    min-width: 150px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

window#osd trough {
    min-height: inherit;
    min-width: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(#000000, 0.5);
}

window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @theme_fg_color;
}
