[Unit]
Requires=sway-session.target
ConditionPathExists=/usr/share/sway/scripts/autoname-workspaces.py

[Service]
ExecStart=/usr/share/sway/scripts/autoname-workspaces.py
Restart=on-failure
RestartSec=1

[Install]
WantedBy=sway-session.target
