[Unit]
Requires=sway-session.target
ConditionPathExists=/usr/bin/nwg-drawer

[Service]
ExecStart=/usr/bin/nwg-drawer -r
Restart=on-failure
RestartSec=1

[Install]
WantedBy=sway-session.target
