[Desktop Entry]
Name=Ubuntu Sway Welcome
Exec=/usr/bin/ubuntu-sway-welcome.py
Icon=ubuntu-sway.png
Type=Application
Terminal=false
Categories=Settings;
