Source: ubuntu-sway-default-settings
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Ubuntu-Sway/ubuntu-sway-default-settings
Rules-Requires-Root: no

Package: ubuntu-sway-default-settings
Architecture: amd64
Depends: ${misc:Depends}, policykit-desktop-privileges
Conflicts: ubuntusway-default-settings
Replaces: ubuntusway-default-settings
Description: Default settings for Ubuntu Sway Remix

Package: ubuntu-sway-raspi-settings
Architecture: arm64
Depends: ${misc:Depends}, policykit-desktop-privileges
Conflicts: ubuntusway-rpi-default-settings
Replaces: ubuntusway-rpi-default-settings
Description: Default settings for Ubuntu Sway Remix on Raspberri Pi devices
