Source: ubuntusway-rpi-default-settings
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Ubuntu-Sway/ubuntusway-default-settings
Rules-Requires-Root: no

Package: ubuntusway-rpi-default-settings
Architecture: any
Depends: ${misc:Depends}, policykit-desktop-privileges
Description: Default settings for Ubuntu Sway Remix for RPi
