[Desktop Entry]
Name=Pick an emoji
Comment=Simple emoji picker based on fuzzel
Exec=fuzzel-emoji
Icon=face-cool
Terminal=false
Type=Application
Categories=Utility;
