[Desktop Entry]
Name=Pick an emoji
Comment=Simple emoji picker based on wofi
Exec=wofi-emoji
Icon=wofi-emoji
Terminal=false
Type=Application
Categories=Utility;
